extend base 
block link
  link(rel='stylesheet', href='./css/cropPage.css')
block header
  include header
block content
  //- button(onclick="document.getElementById('id01').style.display='block'", style='width:auto;') Add Crop
  //- #id01.modal 
  form.modal-content(action='/addcrop', method='post',id='addCropForm')
    .container
      h1 Add Crop
      p Please fill in this form to add crops
      hr
      //- label(for='cropName')
        b Crop Name
      input(id='cropName',type='text', placeholder='Enter crop name', name='cropName', required='')
      //- label(for='price')
        b Price
      input(id='price',type='text', placeholder='Enter Price per Kg', name='price', required='')
      //- label(for='quantity')
        b Quantity
      input(id='quantity',type='text', placeholder='Enter Quantity', name='quantity', required='')
      p
        | By creating an account you agree to our 
        a(href='#', style='color:dodgerblue') Terms & Privacy
        | .
      .clearfix.ml-3
        button.signupbtn(type='submit') Submit
  script.
    // Get the modal
    var modal = document.getElementById('id01');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
    }
