.navbar
  a(href='https://www.cdkglobal.com/us')
    img(src='./img/Webp.net-resizeimage.png', alt='logo')
  a(href='#')
    i.fas.fa-pen
    |  About Us
  a.active(href='/listing')
    i.fa.fa-clipboard-list
    |  Listings
  a.active(href='/addcrop')
    i.fa.fa-clipboard-list
    |  Add Crop    
  a(href='/profile')
    i.fa.fa-fw.fa-envelope
    |  Profile
  a(href='#')
    i.fas.fa-sign-out-alt
    |  Logout